{% extends 'admin/layout.html.twig' %}

{% set page_title = 'User list'|trans({}, 'admin-messages') %}
{% set page_description = 'List of registered users'|trans({}, 'admin-messages') %}

{% block page_buttons %}
    <a href="{{ path('admin_user_edit') }}" class="btn btn-block btn-success" style="display: inline-block; width: 160px;">
        <i class="glyphicon glyphicon-plus-sign"></i>
        &nbsp;{{ 'Add user'|trans({}, 'admin-messages') }}
    </a>
{% endblock %}

{% block content %}
    <form method="get" id="filter_form"></form>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body no-padding">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>
                                <input autofocus name="filter[username]" value="{{ username }}" class="form-control" onchange="form.submit()" form="filter_form" placeholder="username"/>
                            </th>
                            <th>
                                <input name="filter[email]" value="{{ email }}" class="form-control" onchange="form.submit()" form="filter_form" placeholder="email"/>
                            </th>
                        </tr>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'id'|trans({}, 'admin-messages') , 't.id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'username'|trans({}, 'admin-messages') , 't.username') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'email'|trans({}, 'admin-messages') , 't.email') }}</th>
                            <th style="width: 130px;">{{ 'Actions'|trans({}, 'admin-messages') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in pagination %}
                            <tr>
                                <td>
                                    {{ user.id }}
                                </td>
                                <td>
                                    {{ user.username }}
                                </td>
                                <td>
                                    {{ user.email }}
                                </td>
                                <td>
                                    <a title="{{ 'Edit'|trans({}, 'admin-messages') }}" class="btn btn-primary btn-xs" href="{{ path('admin_user_edit', {id: user.id}) }}">
                                        <span>edit</span>
                                    </a>
                                    <a title="{{ 'Delete'|trans({}, 'admin-messages') }}" class="btn btn-danger btn-xs"
                                       onclick="return confirm('{{ 'Are you sure you want to delete user?'|trans({}, 'admin-messages') }}')"
                                       href="{{ path('admin_user_delete', {id: user.id}) }}">
                                        <span>delete</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}