<!doctype html>
<html lang="en">
<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    {% endblock %}
</head>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% block body %}
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Login</h1>
            </div>
            <form class="login-form" action="{{ path("login") }}" method="post">
                <div class="control-group">
                    <input type="text" class="login-field" id="email" placeholder="Email" name="_email" value="{{ last_username }}" required="required"/>
                </div>
                <div class="control-group">
                    <input type="password" class="login-field" id="password" placeholder="Password" name="_password" required="required" autocomplete="current-password"/>
                </div>
                <input class="btn btn-primary btn-large btn-block" type="submit" id="_submit" name="_submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock body %}
</html>