<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin panel</title>
    <link href="{{ asset('assets/node_modules/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar card-no-border">
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Admin Wrap</p>
    </div>
</div>
<div id="main-wrapper">
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url('admin') }}">
                    <b>
                        <img src="{{ asset('assets/images/logo-icon.png') }}" alt="homepage" class="dark-logo"/>
                        <img src="{{ asset('assets/images/logo-light-icon.png') }}" alt="homepage" class="light-logo"/>
                    </b>
                    <span>
                         <img src="{{ asset('assets/images/logo-text.png') }}" alt="homepage" class="dark-logo"/>
                         <img src="{{ asset('assets/images/logo-light-text.png') }}" class="light-logo" alt="homepage"/>
                    </span>
                </a>
            </div>
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto">
                </ul>
                <ul class="navbar-nav my-lg-0">
                    <li class="nav-item dropdown u-pro">
                        <p>
                            <a href="{{ path('logout') }}">Logout</a>
                            {% if is_granted('ROLE_ADMIN') %}
                                Administrator
                            {% elseif is_granted('ROLE_MODERATOR') %}
                                Moderator
                            {% else %}
                                User
                            {% endif %}
                        </p>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                {% block menu %}
                    {% include "admin/menu.html.twig" %}
                {% endblock %}
            </nav>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="container-fluid">
            <h1>
                {{ page_title|default('') }}
            </h1>

            {% block page_buttons %}{% endblock %}

            {% block content %}{% endblock %}
        </div>

        <footer class="footer"></footer>
    </div>
</div>

<script src="{{ asset('assets/node_modules/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/bootstrap/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/perfect-scrollbar.jquery.min.js') }}"></script>
<script src="{{ asset('js/waves.js') }}"></script>

<script src="{{ asset('js/sidebarmenu.js') }}"></script>

<script src="{{ asset('js/custom.min.js') }}"></script>

<script src="{{ asset('assets/node_modules/raphael/raphael-min.js') }}"></script>
<script src="{{ asset('assets/node_modules/morrisjs/morris.min.js') }}"></script>

<script src="{{ asset('assets/node_modules/d3/d3.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/c3-master/c3.min.js') }}"></script>

<script src="{{ asset('js/dashboard1.js') }}"></script>
</body>

</html>