{% block menu %}
    <ul id="sidebarnav">
        {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a class="waves-effect waves-dark" href="{{ url('admin_user') }}" aria-expanded="false"><i class="fa fa fa-user-circle-o"></i><span class="hide-menu">Users</span></a>
            </li>
        {% endif %}
        <li>
            <a class="waves-effect waves-dark" href="{{ url('admin_news') }}" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">News</span></a>
        </li>
    </ul>
{% endblock %}
