{% extends 'admin/layout.html.twig' %}


{% if news.id|default(false) %}
    {% set page_title = 'Edit news'|trans({}, 'admin-messages') %}
{% else %}
    {% set page_title = 'Create news'|trans({}, 'admin-messages') %}
{% endif %}

{% block page_buttons %}
    <a href="{{ path('admin_news') }}" class="btn btn-block btn-success" style="display: inline-block; width: 200px;">
        <i class="fa fa-arrow-circle-left"></i>
        &nbsp;{{ 'Back to news list'|trans({}, 'admin-messages') }}
    </a>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">

            {{ form_start(form) }}
                <div class="nav-tabs-custom">
                    <div class="tab-content">
                        <div class="tab-pane active" id="j-tab-main-info">
                            <div class="form-group ">
                                {{ form_row(form.title, { 'attr': {'class' : 'form-control'}}) }}
                            </div>

                            <div class="form-group ">
                                {{ form_row(form.content, { 'attr': {'class' : 'form-control'}}) }}
                            </div>

                            <div class="form-group ">
                                {{ form_row(form.published, { 'attr': {'class' : 'form-control'}}) }}
                            </div>

                            <div class="form-group ">
                                {{ form_row(form.tags, { 'attr': {'class' : 'form-control'}}) }}
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        {{ form_widget(form.save, { 'attr': {'class' : 'btn btn-primary'}}) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
