{% extends 'admin/layout.html.twig' %}

{% set page_title = 'News list'|trans({}, 'admin-messages') %}
{% set page_description = 'List of registered news'|trans({}, 'admin-messages') %}

{% block page_buttons %}
    <a href="{{ path('admin_news_edit') }}" class="btn btn-block btn-success" style="display: inline-block; width: 160px;">
        <i class="glyphicon glyphicon-plus-sign"></i>
        &nbsp;{{ 'Add news'|trans({}, 'admin-messages') }}
    </a>
{% endblock %}

{% block content %}
    <form method="get" id="filter_form"></form>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body no-padding">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>
                                <input autofocus name="filter[title]" value="{{ title }}" class="form-control" onchange="form.submit()" form="filter_form" placeholder="title"/>
                            </th>
                            <th>
                                <input name="filter[content]" value="{{ content }}" class="form-control" onchange="form.submit()" form="filter_form" placeholder="content"/>
                            </th>
                        </tr>
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, 'id'|trans({}, 'admin-messages') , 't.id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'title'|trans({}, 'admin-messages') , 't.title') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'content'|trans({}, 'admin-messages') , 't.content') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'published'|trans({}, 'admin-messages') , 't.published') }}</th>
                            <th style="width: 130px;">{{ 'Actions'|trans({}, 'admin-messages') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for news in pagination %}
                            <tr>
                                <td>
                                    {{ news.id }}
                                </td>
                                <td>
                                    {{ news.title }}
                                </td>
                                <td>
                                    {{ news.content|raw }}
                                </td>
                                <td>
                                    {% if news.published == 1 %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    <a title="{{ 'Edit'|trans({}, 'admin-messages') }}" class="btn btn-primary btn-xs" href="{{ path('admin_news_edit', {id: news.id}) }}">
                                        <span>edit</span>
                                    </a>
                                    <a title="{{ 'Delete'|trans({}, 'admin-messages') }}" class="btn btn-danger btn-xs"
                                       onclick="return confirm('{{ 'Are you sure you want to delete news?'|trans({}, 'admin-messages') }}')"
                                       href="{{ path('admin_news_delete', {id: news.id}) }}">
                                        <span>remove</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}